body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;

    color-scheme: dark light !important;

    font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    pointer-events: none;
    position: relative;
    user-select: none;
    height: calc(100% - 50px);
}

* {
    box-sizing: border-box;
}

input:disabled+label {
    color: #555;
}

input:checked+label {
    color: #4c9aff;
}

button {
    font: inherit;
    font-size: 80%;
    background: #000;
    color: white;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

button.invisible {
    cursor: auto;
}

button:hover {
    background: #555;
}

a {
    color: #4c9aff;
}

footer {
    position: absolute;
    bottom: 30px;
}

body button:focus {
    box-shadow: 0 0 0 2px inset #4c9aff;
    outline: none;
}

button:focus {
    border-color: white;
}

button:disabled {
    color: #555;
    cursor: auto;
}

button:disabled:hover {
    background-color: unset;
}

#pic {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;

    position: absolute;
    top: 0;
    left: 0;

    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='.45866mm' height='.37613mm' version='1.1' viewBox='0 0 .45866 .37613'%3E%3Cg transform='matrix(.2 0 0 .2 32.831 -23.015)'%3E%3Cpath d='m-163.12 116.51c-0.15447-0.015-0.27994-0.0625-0.35643-0.13947-0.05-0.05-0.0775-0.1-0.096-0.17247-0.015-0.0585-0.01-0.21295 0.01-0.27994 0.04-0.13747 0.13897-0.26445 0.25795-0.32243 0.1-0.05 0.15896-0.061 0.29094-0.061 0.13197 0 0.19096 0.01 0.29094 0.061 0.0865 0.04 0.17296 0.12897 0.21596 0.21695 0.04 0.0855 0.0535 0.13397 0.058 0.24345 3e-3 0.074 1e-3 0.10448-0.01 0.14097-0.03 0.12498-0.10698 0.20946-0.23146 0.26145-0.10548 0.045-0.27844 0.0645-0.42941 0.052zm0.045-0.16597c0.015-5e-3 0.035-0.02 0.045-0.035l0.015-0.02 0.02 0.025c0.035 0.04 0.095 0.0545 0.14547 0.035 0.0565-0.02 0.10848-0.11597 0.064-0.11597-5e-3 0-0.015 0.01-0.02 0.025-0.035 0.0815-0.14348 0.0865-0.17647 0.01-0.015-0.03-0.015-0.035 5e-3 -0.045 0.03-0.01 0.055-0.03 0.071-0.0655 0.015-0.025 0.015-0.035 0.01-0.051-0.01-0.02-0.01-0.02-0.11697-0.02-0.10248 0-0.10948 1e-3 -0.11698 0.015-0.015 0.03 0.025 0.10098 0.07 0.11698 0.02 0.01 0.025 0.01 0.02 0.03-0.01 0.045-0.05 0.075-0.0955 0.0705-0.04-4e-3 -0.071-0.025-0.085-0.063-0.01-0.03-0.03-0.04-0.04-0.02-5e-3 0.015 0.025 0.0735 0.045 0.0885 0.05 0.035 0.0905 0.04 0.13647 0.02zm-0.17296-0.32793c0.05-0.03 0.057-0.10298 0.015-0.14447-0.025-0.025-0.056-0.035-0.0895-0.02-0.088 0.035-0.063 0.17647 0.03 0.17847 0.01 1.5e-4 0.03-5e-3 0.04-0.015zm0.55243 5e-3c0.0575-0.03 0.059-0.13147 2e-3 -0.16047-0.0505-0.025-0.10698-3e-3 -0.12497 0.0515-0.025 0.0745 0.0555 0.14597 0.12247 0.10898zm-0.81083-0.33743c-0.04-0.054-0.088-0.15497-0.12048-0.24195-0.065-0.17447-0.0645-0.31794 1e-3 -0.35193 0.03-0.015 0.035-0.015 0.0865 0.01 0.0525 0.025 0.14597 0.12047 0.20096 0.20295 0.0705 0.10548 0.15547 0.29045 0.13598 0.29644-4e-3 1e-3 -0.015 0.015-0.03 0.015l-0.025 0.015-0.01-0.035c-0.015-0.0515-0.062-0.14597-0.1-0.19347-0.087-0.10847-0.15897-0.12147-0.17347-0.03-0.01 0.06 0.045 0.20696 0.10298 0.29144 0.015 0.02 0.025 0.035 0.025 0.04s-0.04 0.025-0.053 0.025c-5e-3 0-0.025-0.02-0.04-0.04zm0.91581 0.03c-0.015-5e-3 -0.025-0.01-0.025-0.015 0-2e-3 0.01-0.02 0.025-0.04 0.0605-0.084 0.11248-0.23145 0.10298-0.29144-0.015-0.09-0.086-0.077-0.17346 0.03-0.04 0.05-0.0875 0.14247-0.10048 0.19446l-0.01 0.035-0.03-0.015c-0.015-0.01-0.03-0.015-0.03-0.015-1e-3 -3e-4 5e-3 -0.02 0.015-0.045 0.02-0.0575 0.0795-0.17546 0.12697-0.24695 0.0555-0.0825 0.14847-0.17696 0.20096-0.20295 0.051-0.025 0.0565-0.025 0.0865-0.01 0.084 0.045 0.0595 0.25295-0.0575 0.4864-0.035 0.074-0.087 0.14897-0.099 0.14897-5e-3 -1.5e-4 -0.02-5e-3 -0.03-0.01z' style='fill:%23ff8080;stroke-width:.0072697'/%3E%3Ctext x='-164.19266' y='116.90336' style='fill:%23ff8080;font-family:sans-serif;font-size:.33182px;line-height:1.25;stroke-width:.0082955' xml:space='preserve'%3E%3Ctspan x='-164.19266' y='116.90336' style='fill:%23ff8080;font-family:Lato;stroke-width:.0082955'%3EPurr, purr, purr...%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E") no-repeat center/50vmin;
    -ms-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='.45866mm' height='.37613mm' version='1.1' viewBox='0 0 .45866 .37613'%3E%3Cg transform='matrix(.2 0 0 .2 32.831 -23.015)'%3E%3Cpath d='m-163.12 116.51c-0.15447-0.015-0.27994-0.0625-0.35643-0.13947-0.05-0.05-0.0775-0.1-0.096-0.17247-0.015-0.0585-0.01-0.21295 0.01-0.27994 0.04-0.13747 0.13897-0.26445 0.25795-0.32243 0.1-0.05 0.15896-0.061 0.29094-0.061 0.13197 0 0.19096 0.01 0.29094 0.061 0.0865 0.04 0.17296 0.12897 0.21596 0.21695 0.04 0.0855 0.0535 0.13397 0.058 0.24345 3e-3 0.074 1e-3 0.10448-0.01 0.14097-0.03 0.12498-0.10698 0.20946-0.23146 0.26145-0.10548 0.045-0.27844 0.0645-0.42941 0.052zm0.045-0.16597c0.015-5e-3 0.035-0.02 0.045-0.035l0.015-0.02 0.02 0.025c0.035 0.04 0.095 0.0545 0.14547 0.035 0.0565-0.02 0.10848-0.11597 0.064-0.11597-5e-3 0-0.015 0.01-0.02 0.025-0.035 0.0815-0.14348 0.0865-0.17647 0.01-0.015-0.03-0.015-0.035 5e-3 -0.045 0.03-0.01 0.055-0.03 0.071-0.0655 0.015-0.025 0.015-0.035 0.01-0.051-0.01-0.02-0.01-0.02-0.11697-0.02-0.10248 0-0.10948 1e-3 -0.11698 0.015-0.015 0.03 0.025 0.10098 0.07 0.11698 0.02 0.01 0.025 0.01 0.02 0.03-0.01 0.045-0.05 0.075-0.0955 0.0705-0.04-4e-3 -0.071-0.025-0.085-0.063-0.01-0.03-0.03-0.04-0.04-0.02-5e-3 0.015 0.025 0.0735 0.045 0.0885 0.05 0.035 0.0905 0.04 0.13647 0.02zm-0.17296-0.32793c0.05-0.03 0.057-0.10298 0.015-0.14447-0.025-0.025-0.056-0.035-0.0895-0.02-0.088 0.035-0.063 0.17647 0.03 0.17847 0.01 1.5e-4 0.03-5e-3 0.04-0.015zm0.55243 5e-3c0.0575-0.03 0.059-0.13147 2e-3 -0.16047-0.0505-0.025-0.10698-3e-3 -0.12497 0.0515-0.025 0.0745 0.0555 0.14597 0.12247 0.10898zm-0.81083-0.33743c-0.04-0.054-0.088-0.15497-0.12048-0.24195-0.065-0.17447-0.0645-0.31794 1e-3 -0.35193 0.03-0.015 0.035-0.015 0.0865 0.01 0.0525 0.025 0.14597 0.12047 0.20096 0.20295 0.0705 0.10548 0.15547 0.29045 0.13598 0.29644-4e-3 1e-3 -0.015 0.015-0.03 0.015l-0.025 0.015-0.01-0.035c-0.015-0.0515-0.062-0.14597-0.1-0.19347-0.087-0.10847-0.15897-0.12147-0.17347-0.03-0.01 0.06 0.045 0.20696 0.10298 0.29144 0.015 0.02 0.025 0.035 0.025 0.04s-0.04 0.025-0.053 0.025c-5e-3 0-0.025-0.02-0.04-0.04zm0.91581 0.03c-0.015-5e-3 -0.025-0.01-0.025-0.015 0-2e-3 0.01-0.02 0.025-0.04 0.0605-0.084 0.11248-0.23145 0.10298-0.29144-0.015-0.09-0.086-0.077-0.17346 0.03-0.04 0.05-0.0875 0.14247-0.10048 0.19446l-0.01 0.035-0.03-0.015c-0.015-0.01-0.03-0.015-0.03-0.015-1e-3 -3e-4 5e-3 -0.02 0.015-0.045 0.02-0.0575 0.0795-0.17546 0.12697-0.24695 0.0555-0.0825 0.14847-0.17696 0.20096-0.20295 0.051-0.025 0.0565-0.025 0.0865-0.01 0.084 0.045 0.0595 0.25295-0.0575 0.4864-0.035 0.074-0.087 0.14897-0.099 0.14897-5e-3 -1.5e-4 -0.02-5e-3 -0.03-0.01z' style='fill:%23ff8080;stroke-width:.0072697'/%3E%3Ctext x='-164.19266' y='116.90336' style='fill:%23ff8080;font-family:sans-serif;font-size:.33182px;line-height:1.25;stroke-width:.0082955' xml:space='preserve'%3E%3Ctspan x='-164.19266' y='116.90336' style='fill:%23ff8080;font-family:Lato;stroke-width:.0082955'%3EPurr, purr, purr...%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E") no-repeat center/50vmin;
    -moz-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='.45866mm' height='.37613mm' version='1.1' viewBox='0 0 .45866 .37613'%3E%3Cg transform='matrix(.2 0 0 .2 32.831 -23.015)'%3E%3Cpath d='m-163.12 116.51c-0.15447-0.015-0.27994-0.0625-0.35643-0.13947-0.05-0.05-0.0775-0.1-0.096-0.17247-0.015-0.0585-0.01-0.21295 0.01-0.27994 0.04-0.13747 0.13897-0.26445 0.25795-0.32243 0.1-0.05 0.15896-0.061 0.29094-0.061 0.13197 0 0.19096 0.01 0.29094 0.061 0.0865 0.04 0.17296 0.12897 0.21596 0.21695 0.04 0.0855 0.0535 0.13397 0.058 0.24345 3e-3 0.074 1e-3 0.10448-0.01 0.14097-0.03 0.12498-0.10698 0.20946-0.23146 0.26145-0.10548 0.045-0.27844 0.0645-0.42941 0.052zm0.045-0.16597c0.015-5e-3 0.035-0.02 0.045-0.035l0.015-0.02 0.02 0.025c0.035 0.04 0.095 0.0545 0.14547 0.035 0.0565-0.02 0.10848-0.11597 0.064-0.11597-5e-3 0-0.015 0.01-0.02 0.025-0.035 0.0815-0.14348 0.0865-0.17647 0.01-0.015-0.03-0.015-0.035 5e-3 -0.045 0.03-0.01 0.055-0.03 0.071-0.0655 0.015-0.025 0.015-0.035 0.01-0.051-0.01-0.02-0.01-0.02-0.11697-0.02-0.10248 0-0.10948 1e-3 -0.11698 0.015-0.015 0.03 0.025 0.10098 0.07 0.11698 0.02 0.01 0.025 0.01 0.02 0.03-0.01 0.045-0.05 0.075-0.0955 0.0705-0.04-4e-3 -0.071-0.025-0.085-0.063-0.01-0.03-0.03-0.04-0.04-0.02-5e-3 0.015 0.025 0.0735 0.045 0.0885 0.05 0.035 0.0905 0.04 0.13647 0.02zm-0.17296-0.32793c0.05-0.03 0.057-0.10298 0.015-0.14447-0.025-0.025-0.056-0.035-0.0895-0.02-0.088 0.035-0.063 0.17647 0.03 0.17847 0.01 1.5e-4 0.03-5e-3 0.04-0.015zm0.55243 5e-3c0.0575-0.03 0.059-0.13147 2e-3 -0.16047-0.0505-0.025-0.10698-3e-3 -0.12497 0.0515-0.025 0.0745 0.0555 0.14597 0.12247 0.10898zm-0.81083-0.33743c-0.04-0.054-0.088-0.15497-0.12048-0.24195-0.065-0.17447-0.0645-0.31794 1e-3 -0.35193 0.03-0.015 0.035-0.015 0.0865 0.01 0.0525 0.025 0.14597 0.12047 0.20096 0.20295 0.0705 0.10548 0.15547 0.29045 0.13598 0.29644-4e-3 1e-3 -0.015 0.015-0.03 0.015l-0.025 0.015-0.01-0.035c-0.015-0.0515-0.062-0.14597-0.1-0.19347-0.087-0.10847-0.15897-0.12147-0.17347-0.03-0.01 0.06 0.045 0.20696 0.10298 0.29144 0.015 0.02 0.025 0.035 0.025 0.04s-0.04 0.025-0.053 0.025c-5e-3 0-0.025-0.02-0.04-0.04zm0.91581 0.03c-0.015-5e-3 -0.025-0.01-0.025-0.015 0-2e-3 0.01-0.02 0.025-0.04 0.0605-0.084 0.11248-0.23145 0.10298-0.29144-0.015-0.09-0.086-0.077-0.17346 0.03-0.04 0.05-0.0875 0.14247-0.10048 0.19446l-0.01 0.035-0.03-0.015c-0.015-0.01-0.03-0.015-0.03-0.015-1e-3 -3e-4 5e-3 -0.02 0.015-0.045 0.02-0.0575 0.0795-0.17546 0.12697-0.24695 0.0555-0.0825 0.14847-0.17696 0.20096-0.20295 0.051-0.025 0.0565-0.025 0.0865-0.01 0.084 0.045 0.0595 0.25295-0.0575 0.4864-0.035 0.074-0.087 0.14897-0.099 0.14897-5e-3 -1.5e-4 -0.02-5e-3 -0.03-0.01z' style='fill:%23ff8080;stroke-width:.0072697'/%3E%3Ctext x='-164.19266' y='116.90336' style='fill:%23ff8080;font-family:sans-serif;font-size:.33182px;line-height:1.25;stroke-width:.0082955' xml:space='preserve'%3E%3Ctspan x='-164.19266' y='116.90336' style='fill:%23ff8080;font-family:Lato;stroke-width:.0082955'%3EPurr, purr, purr...%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E") no-repeat center/50vmin;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='.45866mm' height='.37613mm' version='1.1' viewBox='0 0 .45866 .37613'%3E%3Cg transform='matrix(.2 0 0 .2 32.831 -23.015)'%3E%3Cpath d='m-163.12 116.51c-0.15447-0.015-0.27994-0.0625-0.35643-0.13947-0.05-0.05-0.0775-0.1-0.096-0.17247-0.015-0.0585-0.01-0.21295 0.01-0.27994 0.04-0.13747 0.13897-0.26445 0.25795-0.32243 0.1-0.05 0.15896-0.061 0.29094-0.061 0.13197 0 0.19096 0.01 0.29094 0.061 0.0865 0.04 0.17296 0.12897 0.21596 0.21695 0.04 0.0855 0.0535 0.13397 0.058 0.24345 3e-3 0.074 1e-3 0.10448-0.01 0.14097-0.03 0.12498-0.10698 0.20946-0.23146 0.26145-0.10548 0.045-0.27844 0.0645-0.42941 0.052zm0.045-0.16597c0.015-5e-3 0.035-0.02 0.045-0.035l0.015-0.02 0.02 0.025c0.035 0.04 0.095 0.0545 0.14547 0.035 0.0565-0.02 0.10848-0.11597 0.064-0.11597-5e-3 0-0.015 0.01-0.02 0.025-0.035 0.0815-0.14348 0.0865-0.17647 0.01-0.015-0.03-0.015-0.035 5e-3 -0.045 0.03-0.01 0.055-0.03 0.071-0.0655 0.015-0.025 0.015-0.035 0.01-0.051-0.01-0.02-0.01-0.02-0.11697-0.02-0.10248 0-0.10948 1e-3 -0.11698 0.015-0.015 0.03 0.025 0.10098 0.07 0.11698 0.02 0.01 0.025 0.01 0.02 0.03-0.01 0.045-0.05 0.075-0.0955 0.0705-0.04-4e-3 -0.071-0.025-0.085-0.063-0.01-0.03-0.03-0.04-0.04-0.02-5e-3 0.015 0.025 0.0735 0.045 0.0885 0.05 0.035 0.0905 0.04 0.13647 0.02zm-0.17296-0.32793c0.05-0.03 0.057-0.10298 0.015-0.14447-0.025-0.025-0.056-0.035-0.0895-0.02-0.088 0.035-0.063 0.17647 0.03 0.17847 0.01 1.5e-4 0.03-5e-3 0.04-0.015zm0.55243 5e-3c0.0575-0.03 0.059-0.13147 2e-3 -0.16047-0.0505-0.025-0.10698-3e-3 -0.12497 0.0515-0.025 0.0745 0.0555 0.14597 0.12247 0.10898zm-0.81083-0.33743c-0.04-0.054-0.088-0.15497-0.12048-0.24195-0.065-0.17447-0.0645-0.31794 1e-3 -0.35193 0.03-0.015 0.035-0.015 0.0865 0.01 0.0525 0.025 0.14597 0.12047 0.20096 0.20295 0.0705 0.10548 0.15547 0.29045 0.13598 0.29644-4e-3 1e-3 -0.015 0.015-0.03 0.015l-0.025 0.015-0.01-0.035c-0.015-0.0515-0.062-0.14597-0.1-0.19347-0.087-0.10847-0.15897-0.12147-0.17347-0.03-0.01 0.06 0.045 0.20696 0.10298 0.29144 0.015 0.02 0.025 0.035 0.025 0.04s-0.04 0.025-0.053 0.025c-5e-3 0-0.025-0.02-0.04-0.04zm0.91581 0.03c-0.015-5e-3 -0.025-0.01-0.025-0.015 0-2e-3 0.01-0.02 0.025-0.04 0.0605-0.084 0.11248-0.23145 0.10298-0.29144-0.015-0.09-0.086-0.077-0.17346 0.03-0.04 0.05-0.0875 0.14247-0.10048 0.19446l-0.01 0.035-0.03-0.015c-0.015-0.01-0.03-0.015-0.03-0.015-1e-3 -3e-4 5e-3 -0.02 0.015-0.045 0.02-0.0575 0.0795-0.17546 0.12697-0.24695 0.0555-0.0825 0.14847-0.17696 0.20096-0.20295 0.051-0.025 0.0565-0.025 0.0865-0.01 0.084 0.045 0.0595 0.25295-0.0575 0.4864-0.035 0.074-0.087 0.14897-0.099 0.14897-5e-3 -1.5e-4 -0.02-5e-3 -0.03-0.01z' style='fill:%23ff8080;stroke-width:.0072697'/%3E%3Ctext x='-164.19266' y='116.90336' style='fill:%23ff8080;font-family:sans-serif;font-size:.33182px;line-height:1.25;stroke-width:.0082955' xml:space='preserve'%3E%3Ctspan x='-164.19266' y='116.90336' style='fill:%23ff8080;font-family:Lato;stroke-width:.0082955'%3EPurr, purr, purr...%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E") no-repeat center/50vmin;

    animation: loading 2s linear 0s infinite alternate;
    transition: transform 200ms ease-out;
}

#pic.error {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='.57195mm' height='.37401mm' version='1.1' viewBox='0 0 .57195 .37401'%3E%3Cg transform='translate(-.66726 -.0067179)'%3E%3Ctext x='0.66421103' y='0.36935169' fill='lightblue' font-family='inherit' font-size='.066363px' stroke-width='.0016591' style='line-height:1.25' xml:space='preserve'%3E%3Ctspan x='0.66421103' y='0.36935169' fill='lightblue' font-family='Lato' stroke-width='.0016591'%3EOops, I messed up!%3C/tspan%3E%3C/text%3E%3C/g%3E%3Cpath d='m0.26474 0.29177c-0.030893-3e-3 -0.055987-0.0125-0.071285-0.027893-0.01-0.01-0.0155-0.02-0.0192-0.034493-3e-3 -0.0117-2e-3 -0.042589 2e-3 -0.055987 8e-3 -0.027493 0.027793-0.052889 0.051589-0.064485 0.02-0.01 0.031791-0.0122 0.058187-0.0122 0.026394 0 0.038191 2e-3 0.058187 0.0122 0.0173 8e-3 0.034591 0.025794 0.043191 0.043389 8e-3 0.0171 0.0107 0.026794 0.0116 0.048689 5.9999e-4 0.0148 2e-4 0.020896-2e-3 0.028193-6e-3 0.024996-0.021396 0.041891-0.046291 0.052289-0.021096 9e-3 -0.055687 0.0129-0.08588 0.0104zm-0.025591-0.098778c0.01-6e-3 0.0114-0.020596 3e-3 -0.028893-5e-3 -5e-3 -0.0112-7e-3 -0.0179-4e-3 -0.0176 7e-3 -0.0126 0.035293 6e-3 0.035693 2e-3 3e-5 6e-3 -9.9998e-4 8e-3 -3e-3zm0.11048 9.9998e-4c0.0115-6e-3 0.0118-0.026294 4e-4 -0.032093-0.0101-5e-3 -0.021396-5.9999e-4 -0.024994 0.0103-5e-3 0.0149 0.0111 0.029193 0.024494 0.021796zm-0.16216-0.067485c-8e-3 -0.0108-0.0176-0.030993-0.024096-0.048389-0.013-0.034893-0.0129-0.063587 2e-4 -0.070385 6e-3 -0.0029999 7e-3 -0.0029999 0.0173 2e-3 0.0105 0.0049999 0.029193 0.024094 0.040191 0.040589 0.0141 0.021096 0.031093 0.058089 0.027196 0.059287-7.9998e-4 1.9999e-4 -3e-3 3e-3 -6e-3 3e-3l-5e-3 3e-3 -2e-3 -7e-3c-3e-3 -0.0103-0.0124-0.029193-0.02-0.038693-0.0174-0.021694-0.031793-0.024294-0.034693-0.0059999-2e-3 0.012 9e-3 0.041391 0.020596 0.058287 3e-3 4e-3 5e-3 7e-3 5e-3 8e-3 0 9.9998e-4 -8e-3 5e-3 -0.0106 5e-3 -9.9998e-4 0-5e-3 -4e-3 -8e-3 -8e-3zm0.18316 6e-3c-3e-3 -9.9998e-4 -5e-3 -2e-3 -5e-3 -3e-3 0-3.9999e-4 2e-3 -4e-3 5e-3 -8e-3 0.0121-0.0168 0.022496-0.046289 0.020596-0.058287-3e-3 -0.018-0.0172-0.0154-0.034691 0.0059999-8e-3 0.0099998-0.0175 0.028493-0.020096 0.038891l-2e-3 7e-3 -6e-3 -3e-3c-3e-3 -2e-3 -6e-3 -3e-3 -6e-3 -3e-3 -2e-4 -6e-5 9.9998e-4 -4e-3 3e-3 -9e-3 4e-3 -0.0115 0.0159-0.035091 0.025394-0.049389 0.0111-0.0165 0.029693-0.035391 0.040191-0.040589 0.0102-0.0049999 0.0113-0.0049999 0.0173-2e-3 0.0168 0.0089998 0.0119 0.050589-0.0115 0.097278-7e-3 0.0148-0.0174 0.029793-0.0198 0.029793-9.9998e-4 -3e-5 -4e-3 -9.9998e-4 -6e-3 -2e-3z' fill='lightblue' stroke-width='.0014539'/%3E%3C/svg%3E") no-repeat center/50vmin;
    -webkit-mask: none;
    -ms-mask: none;
    -moz-mask: none;
    mask: none;

    animation: none;
}

#pic-title {
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 2vh 2vw;
    text-align: center;
    font-size: 1rem;

    display: none;
    text-shadow: 0 0 5px black;

    transition: opacity 200ms linear;
}

#settings {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

    backdrop-filter: blur(20px) saturate(180%);
    background-color: #000000ec;

    display: none;
    opacity: 0;

    transition: opacity 200ms ease-out;
    z-index: 999999999999999;
}

#mode-selector {
    margin: 0 5px;
    height: 30px;
    padding: 0 5px;
    font: inherit;
    width: fit-content;
    height: fit-content;
}

@keyframes loading {
    0% {
        background-color: khaki
    }

    25% {
        background-color: peachpuff;
    }

    50% {
        background-color: plum;
    }

    75% {
        background-color: palegreen;
    }

    100% {
        background-color: lightblue;
    }
}

#controls {
    position: absolute;
    bottom: -50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 50px;
    width: 100%;
    display: grid;
}

#controls button {
    border: none;
    border-radius: 0;
    border: 1px solid #555;
}

.waiting {
    animation: moving 3s linear infinite;
}