body {
  font-family: "Segoe UI", helvetica, arial, sans-serif;
}
* {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
button,
a {
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
  border: 0;
  font-family: "Segoe UI";
  font-weight: 500;
  cursor: pointer;
  transition: background-color 200ms, opacity 300ms, transform 100ms;
  color: #000;
  background: #eee;
}
.loader:first-child {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999999;
}
.loader {
  color: #fff;
  text-shadow: 0px 0px 10px #fff;
  background: #000a;
  position: fixed;
  backdrop-filter: blur(20px);
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  transition: opacity 200ms ease-in;
  z-index: 1000;
}
.loadIcon {
  width: 50px;
  height: 50px;
  border: 5px solid #1877F2;
  clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 40%, 0% 0%);
  border-radius: 50%;
}
.loadIcon.move {
  animation: load-rotate1 1s infinite ease, load-expand 1s infinite ease-out;
}
.previousMeme,
.nextMeme {
  background: #fff2;
  border: 1px dashed #222;
  text-shadow: 1px 1px #000;
  color: #fffa;
  backdrop-filter: blur(20px) saturate(180%);
  transition: padding 200ms ease;
  margin: auto 0;
  justify-self: start;
  height: 50%;
  border-radius: 0 5px 5px 0;
  width: auto;
  pointer-events: all;
}
.nextMeme {
  justify-self: end;
  border-radius: 5px 0 0 5px;
}
.postMeme {
  background-color: #1877F2;
  color: #fff;
  justify-self: end;
  margin-right: 5px;
}
.gotoMemeBox {
  border: 0;
  border-radius: 0;
  font-weight: 700;
  grid-area: num;
}
.title {
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px;
  border: 0;
  grid-area: title;
  border-radius: 5px;
  height: 60%;
  width: 90%;
}
.author {
  padding: 0 10px;
  grid-area: author;
  font-size: 12px;
}
.image {
  max-width: 90%;
  max-height: 90%;
  height: 90%;
  margin: auto;
  border-radius: 5px;
}
.imageBox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 80px;
  right: 0;
  background: black;
  display: grid;
}
.navigatorBox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2222;
  display: grid;
  grid-template-columns: 1fr 1fr;
  pointer-events: none;
}
.bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: -30px;
  right: 0;
  z-index: 9999;
  display: grid;
  align-content: end;
  pointer-events: none;
}
.initStuff {
  display: grid;
  grid-template-columns: 85% 15%;
  place-items: center;
  pointer-events: auto;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
}
.vis {
  display: grid;
  grid-template-areas:
    "title title post"
    "author num download";
  grid-template-columns: 80% 5% 15%;
  grid-template-rows: 60% 30%;
  background: #fff;
  height: 80px;
  align-items: center;
  pointer-events: auto;
  padding-left: 5px;
  margin-bottom: 10px;
}
.downloader {
  grid-area: download;
  pointer-events: auto;
  justify-self: end;
  margin-right: 5px;
}
.clientSecretGetter {
  background: #eee;
  border: 0;
  border-radius: 5px;
  margin: 5px 0;
  width: 99%;
  height: 100%;
  padding: 0 10px;
}
.initiator {
  margin-right: 5px;
  justify-self: end;
}
*:focus {
  outline: none;
}
button:active,
a:active {
  transform: scale(0.95);
}
button:not(.nextMeme):not(.previousMeme):not(.postMeme):hover,
a:hover,
input:hover {
  background: #ddd;
}
.previousMeme:hover {
  padding-right: 15px;
  color: #fff;
}
.nextMeme:hover {
  padding-left: 15px;
  color: #fff;
}
.postMeme:hover {
  background: #2d88ff;
}
.waiting {
  animation: moving 3s linear infinite;
}
@keyframes load-rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load-expand {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 40%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 40%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 70%, 0% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 40%, 0% 0%);
  }
}
@keyframes moving {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 100px 0px;
  }
}
